POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s

HTTP_ADDR=localhost:8080
HTTP_SHUTDOWN_TIMEOUT=30s

LOGGER_LEVEL=DEBUG

JWT_EXPIRATION=24h
JWT_SECRET=my_secret

UID=1000
GID=1000

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
REGION = ru-central1
ENDPOINT_URL = https://storage.yandexcloud.net